<%= provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2><%= @taxon.name %></h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li>
              <%= link_to "Home", potepan_path %>
            </li>
            <li>
              <a href="#">shop</a>
            </li>
            <li class="active"><%= @taxon.name %></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <%= render "main_content_section", products: @products, taxonomies: @taxonomies %>
  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="owl-carousel partnersLogoSlider">
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-01.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-02.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-03.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-04.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-05.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-01.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-02.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-03.png", :alt => "partner-img") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>